header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333333;
}

header>a:first-child {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 65px;
}

header nav {
    margin: 20px
}

header a {
    font-size: 18px;
    text-decoration: none;
}

header a img {
    width: 100%;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 25px;
}

header a {
    position: relative;
    padding-bottom: 5px;
}

header nav a.selectedPage::after, header nav a:hover::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    background: #6EBFB8;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}


footer {
    text-align: center;
    padding: 15px 0;
    background-color: #333333;
    color: white;
}

@media screen and (max-width: 380px) {
    header>a:first-child {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 40px;
    }   
}